<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{meta_title}}</title>

	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

  {{!-- Customisation by https://github.com/firepress-org --}}
  {{>custom_header}}

	{{ghost_head}}
</head>

<body class="{{body_class}}">

	{{navigation}}

	<section id="wrapper">
		<a class="hidden-close"></a>
		{{{body}}}
		<div id="body-class" style="display: none;" class="{{body_class}}"></div>

		<footer id="footer">
			<div class="inner">
				<section class="credits">
          <a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}.&nbsp;&nbsp;Driven by firepress.org and published with ghost.org
				</section>
			</div>
		</footer>
	</section>

	<script type="text/javascript" src="{{asset "js/script.js"}}"></script>

	{{ghost_foot}}

    {{!-- Customisation by https://github.com/firepress-org --}}
    {{>custom_footer}}
    
</body>
</html>
